/* Nav container flex for horizontal layout */
nav {
    display: flex;
    justify-content: space-between; /* space between logo and button */
    align-items: center;            /* vertically center */
    padding: 10px;
    margin: 20px 40px;
}

/* Logo text styling */
.logo {
    font-family: "Merriweather", serif;
    font-weight: bold;       /* set font weight */
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 40px;
    color: #6347ff;
}

/* Color span inside logo */
#color {
    color: #6347ff;
}

/* Button style */
.pr, button {
    padding: 8px 16px;
    background-color: #6347ff;
    color: white;
    border: 2px solid #6347ff;

    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 40px;
    margin-top: 15px;
}

/* .abba section styling */
.abba {
    text-align: center;
    font-size: 60px;
    margin-top: 40px;
}

.nahid{
    background-image: url(Hero-bg.png);
    background-repeat: no-repeat;
    
}
.dadu  {
    display: flex;
    margin: 40px 80px;
    justify-content: space-between;
}
.bhai{
    margin: 20px;
}
img{
    border-radius: 15px;
}
h1{
    text-align: center;
}
.nayem{
    display: flex;
justify-content: center;

}
.t{
    background-color:#E6E6FA;
    margin: 10px 60px;
    border-radius: 15px;    
}


  .stats-wrapper {
  background-color: #e6e9ff;
  padding: 30px 20px;
  border: 2px dotted #4e9eff;
  border-radius: 10px;
  max-width: 700px;
  margin: 40px auto;
  text-align: center;
}

.stats-wrapper h2 {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
  color: #1c1c1c;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

.stat-box {
  text-align: center;
}

.stat-number {
  font-size: 32px;
  color: #6347ff;
  font-weight: bold;
  margin: 0;
}

.stat-label {
  font-size: 14px;
  color: #888;
  margin-top: 5px;
}
  .D{
    background-color:#E6E6FA.
  }
